<html>
  <head>
    <title>Muhammed Shah Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/static/img/profile.png">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />

    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />

    <!--Import Font Awesome Icon Font-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
      crossorigin="anonymous"
    />

    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/materialize.min.css"
    />

    <!--Main css-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">


      <!-- Typing effect section -->
      <div class="typing-container">
          <span class="typed-text"></span>
          <span class="cursor">&nbsp;</span>
      </div>

      <!-- About Me Section -->
      <section id="about" class="section-content">
          <h2 class="section-title">About Me</h2>
          <div class="about-content">
              <div class="about-text">
                  <h3>I am a detail-oriented AI Engineer with a passion for developing innovative tools, systems, and processes that bring the practical application of AI to life.</h3>
                  <h6>My work focuses on delivering high-quality results, consistently improving efficiency, and driving impactful outcomes.</h6>
              </div>
              <img src="static/img/profile-website.png" alt="GitHub Profile" class="profile-img">
          </div>
      </section>

      <!-- Work Experience Section -->
      <section id="work-experience" class="section-content">
          <h2 class="section-title">Work Experience</h2>
          <div class="work-experience-boxes">
              <div class="work-box">
                  <div class="work-box-content">
                      <img src="static/img/company1-logo.png" alt="Wipro Logo" class="company-logo">
                      <div class="work-box-text">
                          <h3>AI Intern</h3>
                          <h5>Wipro Technologies, Bangalore</h5>
                          <p>March 2023 - June 2023</p>
                      </div>
                  </div>
                  <button class="read-more-btn" data-modal="modal-wipro">Read More</button> <!-- Unique data attribute -->
              </div>

              <div class="work-box">
                  <div class="work-box-content">
                      <img src="static/img/company2-logo.png" alt="Potentiam Logo" class="company-logo">
                      <div class="work-box-text">
                          <h3>AI Engineer Trainee</h3>
                          <h5>Potentiam Ltd, Bangalore</h5>
                          <p>September 2023 - PRESENT</p>
                      </div>
                  </div>
                  <button class="read-more-btn" data-modal="modal-potentiam">Read More</button> <!-- Unique data attribute -->
              </div>
          </div>
      </section>

      <!-- Modal (Pop-up) for Read More -->
      <!-- Modal for Wipro -->
      <div id="modal-wipro" class="modal">
          <div class="modal-content">
              <span class="close-btn">&times;</span>
              <h3>AI Intern</h3>
              <p><strong>Company:</strong> Wipro Technologies, Bangalore</p>
              <p><strong>Time period:</strong> 1st March, 2023 to 30th June, 2023</p>
              <p><strong>Description:</strong></p>
              <p>Focused on improving AI observability, Monitoring ML models, Conducting RCA, Detecting Anomalies, and Optimizing Capacity Forecasting, leading to enhanced performance, reliability, and scalability of the deployed models. Worked on developing and fine-tuning LLMs using LangChain, implementing a simple Q&A system over documents, optimizing its accuracy, and created an interface using Streamlit. This work enabled users to have interactive and informative conversations while effortlessly extracting valuable insights from large volumes of textual data</p>
              <h4>Skills:</h4>
              <div class="skills">
                  <button class="skill-btn">Python</button>
                  <button class="skill-btn">Time Series Forecasting</button>
                  <button class="skill-btn">Natural Language Processing (NLP)</button>
                  <button class="skill-btn">NumPy</button>
                  <button class="skill-btn">Scikit-Learn</button>
                  <button class="skill-btn">Pandas</button>
                  <button class="skill-btn">Large Language Models (LLM)</button>
                  <button class="skill-btn">LangChain</button>
                  <button class="skill-btn">Elastic Stack (ELK)</button>
                  <button class="skill-btn">Datasets</button>
              </div>
          </div>
      </div>

      <!-- Modal for Potentiam -->
      <div id="modal-potentiam" class="modal">
          <div class="modal-content">
              <span class="close-btn">&times;</span>
              <h3>AI Engineer Trainee</h3>
              <p><strong>Company:</strong> Potentiam Ltd, Bangalore</p>
              <p><strong>Time period:</strong> 1st September, 2023 - PRESENT</p>
              <p><strong>Description:</strong></p>
              <p>Collaborating closely with the Founder Director and Global CIO of our company, primarily focusing on AI-driven initiatives. My contributions span various aspects of project management, research and development, and stakeholder engagement. Through my experience collaborating closely with senior leadership, I've honed my skills in project management, research, and stakeholder engagement. I've led initiatives such as AI-driven chatbot development, production and deployment web application tools for internal teams, and cybersecurity audits, each contributing to significant advancements within my organization.</p>
              <h4>Skills:</h4>
              <div class="skills">
                  <button class="skill-btn">Python</button>
                  <button class="skill-btn">Artificial Intelligence (AI)</button>
                  <button class="skill-btn">Machine Learning</button>
                  <button class="skill-btn">Chatbot Development</button>
                  <button class="skill-btn">Business Requirements</button>
                  <button class="skill-btn">Strategic Planning</button>
                  <button class="skill-btn">Azure AI</button>
                  <button class="skill-btn">Cybersecurity</button>
                  <button class="skill-btn">Microsoft Power BI</button>
                  <button class="skill-btn">Microsoft Power Apps</button>
                  <button class="skill-btn">Microsoft Power Automate</button>
                  <button class="skill-btn">IT Security Operations</button>
                  <button class="skill-btn">Cybersecurity Auditing</button>
                  <button class="skill-btn">Communication</button>
                  <button class="skill-btn">Strategic Communications</button>
                  <button class="skill-btn">Corporate Communications</button>
                  <button class="skill-btn">Interpersonal Communication</button>
                  <button class="skill-btn">Project Planning</button>
                  <button class="skill-btn">Project Management</button>
                  <button class="skill-btn">Docker</button>
              </div>
          </div>
      </div>


      <!-- Certifications Section -->
      <section id="certifications" class="section-content">
          <h2 class="section-title">Certifications</h2>
          <div class="certification-cards">

              <!-- Certification card 1 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/DL-1.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://www.coursera.org/account/accomplishments/verify/Z3YKCXBW265S?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 2 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/IBM.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://www.coursera.org/account/accomplishments/verify/WKU6UA8K5F86?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 3 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/MICROSOFT.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://www.linkedin.com/learning/certificates/35d5eef7288a9df12e9611b3870680b8faf2abf1c733ed15fffcba0079aa5c38?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BVXKSJ9F9S%2B2KTWvePCpkLw%3D%3D"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 4 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/RASA.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://www.linkedin.com/in/muhammed-shah/details/certifications/1724159665717/single-media-viewer/?type=DOCUMENT&profileId=ACoAADWebncBEuTI9nZZLcTOPCu4Dy9N863oirg"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 5 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/DL-2.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://learn.deeplearning.ai/accomplishments/028806ec-6c30-4359-ae48-b2747f7a303a?usp=sharing"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 6 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/DL-3.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://learn.deeplearning.ai/accomplishments/e742ebb0-8239-4854-860b-eae7fd69774d?usp=sharing"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 7 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/PREP-1.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://drive.google.com/file/d/1lvOsBCHH9wbNHlMwiD0N0N1dUseALo3K/view"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

              <!-- Certification card 8 -->
              <div class="card">
                  <div class="card-front">
                      <img src="static/img/Certifications/PREP-2.png" alt="Certification Image" class="cert-image">
                  </div>
                  <div class="card-back">
                      <a href="https://drive.google.com/file/d/1887UXv0iWaeDjqJ_WTr6YzAeqPdeyvno/view"
                          target="_blank" class="cert-link-btn">See Credential</a>
                  </div>
              </div>

          </div>
      </section>


      <!--chatbot widget -->
      <div class="widget">
        <div class="chat_header">

        <!-- Bot name -->
        <span class="chat_header_title">Shahbot</span>
      
        <!-- Icon for restarting the chat -->
        <a href="#" id="restart" class="icon-action">
        <i class="material-icons" title="Restart Chat">autorenew</i>
        </a>
      
        <!-- Icon for closing the chat -->
        <a href="#" id="close" class="icon-action">
          <i class="material-icons" title="Close Chat">close</i>
        </a>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
          <div class="clearfix"></div>
        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
          <textarea
            id="userInput"
            placeholder="Keypad has been Disabled."
            class="usrInput"
          ></textarea>
          <div id="sendButton">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <!--bot profile-->
      <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="static/img/profile.png" />
      </div>

      <div class="new-tap-target" id="bot-popup" data-target="profile_div">
        <div class="new-tap-target-content">
          <h5 class="new-white-text">Don't have time to read it all?</h5>
          <p class="new-white-text">Chat with me instead!👋</p>
        </div>
      </div>


    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="static/js/lib/materialize.min.js"
    ></script>
    <script src="static/js/lib/uuid.min.js"></script>
    <!--Main Script -->
    <script type="text/javascript" src="static/js/script.js"></script>

    <!--Chart.js Script -->
    <script type="text/javascript" src="static/js/lib/chart.min.js"></script>
    <script type="text/javascript" src="static/js/lib/showdown.min.js"></script>
  </body>
</html>
